@font-face {
  font-family: "IsadoraBold";
  src: url("../fonts/IsadoraBold/IsadoraBold.eot"), url("../fonts/IsadoraBold/IsadoraBold.ttf") format("truetype"), url("../fonts/IsadoraBold/IsadoraBold.woff") format("woff"); }

@font-face {
  font-family: "NautilusPompilius";
  src: url("../fonts/NautilusPompilius/NautilusPompiliusRegular/NautilusPompiliusRegular.eot"), url("../fonts/NautilusPompilius/NautilusPompiliusRegular/NautilusPompiliusRegular.ttf") format("truetype"), url("../fonts/NautilusPompilius/NautilusPompiliusRegular/NautilusPompiliusRegular.woff") format("woff"); }

@font-face {
  font-family: "RobotoCondensedBold";
  src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype"), url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"); }

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RalewayBlack/RalewayBlack.eot"), url("../fonts/Raleway/RalewayBlack/RalewayBlack.ttf") format("truetype"), url("../fonts/Raleway/RalewayBlack/RalewayBlack.woff") format("woff"), format("woff"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype"), url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.woff") format("woff"); }

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot"), url("../fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype"), url("../fonts/Raleway/RalewayBold/RalewayBold.woff"); }

@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype"), url("../fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"); }

img {
  max-width: 100%; }

header {
  background: url(../img/overlay.png) no-repeat center top/cover; }

a {
  text-decoration: none;
  color: #fff; }

a:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.8; }

.header-top {
  font-family: RalewayBold;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 12px; }

.begin {
  padding-top: 15px;
  margin-right: 47px; }

.begin h6 {
  padding-left: 13px;
  text-decoration: underline;
  text-decoration-color: #8e8a87;
  font-size: 12px; }

.begin i {
  padding-top: 2px;
  color: #67635e; }

.active-header {
  padding-top: 10px; }

.active-header h6 {
  padding-top: 6px;
  color: #c59d5f;
  text-decoration: none; }

.active-header i {
  max-height: 65%;
  color: #000000;
  background: #94774a;
  border-radius: 50%;
  padding: 8px 11px 0px 11px; }

.phone-number {
  font-family: Arial;
  text-align: center; }

.phone-number p {
  color: #848383;
  margin-bottom: 0; }

.ph-n i {
  color: #c59d5f;
  transform: rotate(90deg);
  padding-top: 20px; }

.ph-n p {
  font-size: 14px;
  color: #fff; }

.frst {
  padding-top: 3px;
  padding-right: 5px; }

.scnd {
  font-size: 18px !important; }

.header-slider {
  text-align: left;
  color: #fff; }

.text {
  padding-top: 180px; }

.text h1 {
  font-family: IsadoraBold; }

.text p {
  width: 262px; }

.header-slider img {
  padding-top: 90px;
  height: 10%; }

.prev, .next i {
  font-size: 40px;
  position: absolute;
  top: 34%; }

.prev {
  left: 16%; }

.next i {
  position: absolute;
  right: 20%; }

.owl-carousel {
  max-width: 94%; }
