* {
  padding: 0px;
  margin: 0px; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: Source Sans Pro; }

.left img {
  width: 6%;
  margin-top: 1%;
  margin-left: 10%;
  margin-bottom: 1%;
  float: left; }

.right {
  float: right;
  margin-right: 250px;
  margin-bottom: 10px; }

.titles a:first-child {
  color: #000000; }

.right a:hover {
  color: #000000; }

.right a {
  margin-top: 28px;
  text-decoration: none;
  margin-right: 60px;
  display: inline-block;
  text-transform: uppercase;
  color: #777777;
  font-weight: 500; }

.hr {
  border-top: 3px solid #7777;
  height: 100%;
  width: 20px;
  position: relative;
  margin-top: -10px;
  margin-left: -40px; }

.qq {
  float: right;
  width: 100%;
  color: #06060a; }

#slides {
  position: relative;
  height: 800px;
  padding: 0px;
  margin: 0px;
  list-style-type: none; }

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.showing {
  opacity: 1;
  z-index: 2; }

.slide {
  font-size: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff; }

.slide:nth-of-type(1) {
  background: url(../img/slider1.png) no-repeat center top/cover; }

.slide:nth-of-type(2) {
  background: url(../img/slider2.png) no-repeat center top/cover; }

.slide:nth-of-type(3) {
  background: orange; }

.slider a img {
  z-index: 10;
  width: 40px;
  position: relative;
  margin-top: 300px;
  border: none; }

#previous {
  float: left;
  height: 0; }

#next {
  float: right; }

#first {
  margin-left: 100px; }

.slider {
  margin-bottom: 100px; }

.dots {
  height: 16px;
  width: 16px;
  margin-right: 15px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 100;
  position: relative;
  margin-top: 700px;
  display: inline-block; }

.container {
  margin-left: 48%; }

.dots:hover, active {
  background-color: #000000; }

.photo1 {
  background: url(../img/layer4.png) no-repeat center top/cover;
  width: 360px;
  height: 250px;
  margin-bottom: 50px;
  margin: 0px 40% 30px 30px;
  float: right; }

.photo1 img {
  opacity: 0;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Segoe UI';
  line-height: 300px;
  text-align: center;
  color: #fff;
  height: 250px;
  width: 360px;
  margin: 0 auto;
  transition: .5s ease; }

.photo1:hover img {
  opacity: 1;
  cursor: pointer; }

.photo2 img {
  opacity: 0;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Segoe UI';
  line-height: 300px;
  text-align: center;
  color: #fff;
  height: 350px;
  width: 360px;
  margin: 0 auto;
  transition: .5s ease; }

.photo2:hover img {
  opacity: 1;
  cursor: pointer; }

.photo2 {
  background: url(../img/layer5.png) no-repeat center top/cover;
  width: 360px;
  height: 350px;
  float: left;
  margin: 0px 0px 30px;
  left: 21%;
  position: relative; }

.photo3 img {
  opacity: 0;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Segoe UI';
  line-height: 300px;
  text-align: center;
  color: #fff;
  height: 450px;
  width: 360px;
  margin: 0 auto;
  transition: .5s ease; }

.photo3:hover img {
  opacity: 1;
  cursor: pointer; }

.photo3 {
  background: url(../img/01-2zleu1ve3uwlqd43rony0w.png) no-repeat center top/cover;
  width: 360px;
  height: 450px;
  float: right;
  position: relative;
  bottom: 280px;
  margin-right: 20%; }

.socials {
  text-align: center;
  display: inline-block;
  margin-left: 47%;
  background-color: #1DA1F2;
  padding: 3px 25px;
  border-radius: 2px; }

.facebook {
  font-size: 25px;
  display: inline;
  margin-right: 20px;
  float: left;
  color: #fff;
  padding-top: 5px; }

.instagram {
  display: inline;
  margin-right: 20px;
  color: #fff;
  font-size: 25px;
  position: relative;
  top: 5px; }

.twitter {
  display: inline;
  margin-right: 20px;
  color: #fff;
  font-size: 25px;
  position: relative;
  top: 5px; }

.socials a {
  text-decoration: none;
  color: #fff; }

.socials a:hover {
  color: #FF3205; }

.up {
  width: 50px;
  position: fixed;
  right: 10px;
  z-index: 1000;
  opacity: 0.7;
  bottom: 10px; }

.up:hover {
  opacity: 1; }

#head {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff; }

.slider {
  margin-top: 70px; }

.active {
  background-color: #000000; }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 10000;
  transition: 1s all;
  opacity: 1;
  visibility: visible; }
  .preloader .loader {
    width: 100px;
    height: 100px;
    border: 12px solid #B4B4B5;
    border-radius: 50%;
    border-top-color: #F84600;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: 1.5s spin infinite linear; }
  .preloader.done {
    opacity: 0;
    visibility: hidden; }

#perc {
  width: 200px;
  height: 75px;
  position: absolute;
  line-height: 75px;
  text-align: center;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  percent: 0;
  starting_position: 25;
  animation: 1.5s progress; }

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg); }
  to {
    transform: translate(-50%, -50%) rotate(360deg); } }
